 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am currently the programmer for Vision Quest studios working on a 3d puzzle platformer called Malicious.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am skilled in Unity scripting, C++, AI mechanics</p>
                </div>
            </div>
        </div>
    </section>
