 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a current student at the academy of interactive entertainment, I hope to become an AI programmer for a AAA company.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am skilled in Unity scripting, C++, AI mechanics </p>
                </div>
            </div>
        </div>
    </section>
